@model IEnumerable<Product>

<div class="container">

    <div class="row col-3 m-3">
        <a asp-controller="Product" asp-action="CreateOrUpdate" class="btn btn-success">
            Lägg till ny produkt
        </a>
    </div>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Märke</th>
                <th>Pris</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Brand</td>
                    <td>@item.Price.ToString("c")</td>
                    <td>
                        <div class="w-25 btn-group text-right" role="group">
                            <div class="mx-2">
                                   <a asp-controller="Product" asp-action="CreateOrUpdate" asp-route-id="@item.Id" class="btn btn-success">Updatera</a>
                            </div>
                            <div class="mx-2">
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Radera</a>

                            </div>
                         
                        </div>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

