@model IEnumerable<Product>

<div class="container">

    <div class="row col-3 m-3">
        <a asp-controller="Product" asp-action="CreateOrUpdate" class="btn btn-success">
            Lägg till ny produkt
        </a>
    </div>

    <table class="table  table-striped">
        <thead>
            <tr>
                <th>Nam </th>
                <th>Brand</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Brand</td>
                    <td>@item.Price</td>
                    <td>
                        <div class="w-25 btn-group text-right" role="group">
                            <a asp-controller="Product" asp-action="CreateOrUpdate" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>

